<% if authenticated? %>
  <nav>
    Signed in as <%= Current.user.email %>
    <%= button_to "Sign out", session_path, method: :delete %>
  </nav>
<% else %>
  <nav>
    <%= link_to "Sign in", new_session_path %>
  </nav>
<% end %>

<main>
  <div class="hero-wrapper">
    <div class="hero">
      <%= image_tag "guru.svg" %>
      <h1>Welcome to railsguru.dev</h1>
      <h2>Please be patient for a little while, the guru is still in his morning routine</h2>
      <p>You can reach out in the meantime on <%= link_to "x.com", "https://x.com/railsguru_dev" %> or read up in
        the <%= link_to "blog", blogs_path %></p>
    </div>
  </div>
</main>